.Intro {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 6rem auto;
  flex-wrap: wrap;
}
.img {
  height: 400px;
  width: 400px;
  padding: 50px;
  border: 1px solid transparent;
  border-radius: 50%;
}
@media (max-width: 800px) {
  .img {
    height: 200px;
    width: 200px;
  }
}
.right {
  padding: 50px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.right h2 {
  font-size: 2.5rem;
  margin: 1rem;
  padding: 0;
}

.right p {
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  font-weight: 500;
}
.right h4 {
  font-size: 2rem;
  margin: 0.2rem 0;
  color: grey;
}
.right > div {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.right .buttonDownloadCv {
  text-decoration: none;
  color: black;
  padding: 15px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  margin: 20px;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 600;
}

.right .buttonContact,
.right .buttonDownloadCv:hover {
  font-weight: 600;
  font-family: sans-serif;
  padding: 15px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: black;
  color: white;
  margin: 20px;
  cursor: pointer;
}
@media (max-width: 800px) {
  .right h2 {
    font-size: 1.4rem;
  }
  .right h4 {
    font-size: 1 rem;
  }
  .right .buttonDownloadCv,
  .right .buttonContact {
    font-size: 0.7rem;
    padding: 7px;
    margin: 5px;
    margin-top: 20px;
  }
  .right .buttonDownloadCv:hover {
    font-size: 0.7rem;
    padding: 7px;
    margin: 5px;
    margin-top: 20px;
  }
}
