.App {
  text-align: center;
  font-family: sans-serif;
}
.footer {
  width: 30%;
  max-width: 70%;
  margin: 7rem auto;
  margin-bottom: 0;
}
@media (max-width: 800px) {
  .footer {
    width: 70%;
  }
}
